.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 15px 30px;
    color: white;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-link.active {
    font-weight: bold;
}

.profile {
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    border-radius: 15px;
    font-size: 16px;
    overflow: hidden;
}

th, td {
    padding: 8px 16px;
    text-align: center;
    line-height: 2.5;
    border-bottom: 1px solid #fafafa;
    background-color: rgba(0, 0, 0, 0.51);
}

th {
    background-color: #010645;
    font-weight: 600;
    font-size: 18px;
}

td em {
    color: #cfd8dc;
}

.view-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
}

.view-btn:hover {
    background-color: #0056b3;
}
