body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('/static/background/City.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    font-size: revert;
    font-weight: revert;
    margin: revert;
}

body.modal-open {
    padding-right: 0 !important;
}

.container {
    padding: 40px 00px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu .btn-nav {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.menu .btn-nav:hover {
    background-color: #333;
}

.btn-nav.active {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.menu .signin {
    border-radius: 20px;
    padding: 4px 12px 6px 12px;
}

.menu .signup{
    border-radius: 20px;
    padding: 4px 12px 6px 12px;
}

.user-icon {
    font-size: 18px;
}

.white-close {
  filter: brightness(0) invert(1);
}

label {
    color: #333;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    font-size: 1rem;
    box-sizing: border-box;
}

.save-btn {
    background-color: #d3d300;
    color: #550548;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.logout-btn {
    background-color: #ff4c4c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.close-btn {
    color: white;
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #d3d300;
}

#successMessage {
    display: none;
    color: green;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}