* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #e6f0ff, #cfd9df);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/background/City.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-box {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px 30px;
    width: 450px;
    color: #fff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
    color: yellow;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}

::placeholder {
    color: #ccc;
}

.password-box {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.toggle-password i {
    display: none;
    color: #ccc;
}

.toggle-password i.active {
    display: inline;
}


.toggle-password:hover {
    color: #00c6ff;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: linear-gradient(to right, #1e82fc, #00c6ff);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #005bea, #00c6ff);
}

.signup-box p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.signup-box a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
}

.error-message {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #d8000c;
}

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  
  input[type="password"]::-webkit-inner-spin-button,
  input[type="password"]::-webkit-outer-spin-button,
  input[type="password"]::-webkit-search-cancel-button,
  input[type="password"]::-webkit-search-decoration,
  input[type="password"]::-webkit-search-results-button,
  input[type="password"]::-webkit-search-results-decoration {
    display: none;
  }
  
  input[type="password"]::-webkit-password-toggle-button {
    display: none;
  }
  