h1 {
    font-size: 28px;
    margin-bottom: 0px;
    color: #000;
}

.job-detail-container p {
    position: relative;
    left: -5px;
    margin: 4px;
    padding: 18px 24px;
    border: 1px solid #010645;
    color: white;
    background-color: #010645;
    border-radius: 15px;
    font-size: 20px;
}

.upload-btn {
    display: inline-flex;
    align-items: center;
    margin-top: 100px;
    gap: 8px;
    padding: 16px 36px;
    border: 2px solid #0866FF;
    color: #ffffff;
    background-color: #0866FF;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.upload-btn:hover {
    background-color: #010645;
    color: #ffffff;
}

.center-container {
    display: flex;
    justify-content: center;
}


