{% extends "base.jinja" %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
  {% if user_role == "recruiter" %}
    <a href="/post-job" class="post-job-btn">+ Post New Job</a>
  {% endif %}
  <h1>Find Your <span class="highlight">Dream Job</span> Today!</h1>
  {% if user_name %}
    <p class='welcome-text'>Welcome Back, {{ user_name }}!</p>
  {%endif%}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <h2>Active Jobs Postings</h2>
  <div class="job-cards">
    {% for job in jobs %}
    <div class="job-card">
      <h4>{{ job.job_title }}</h4>
      <p>
        <i class="fas fa-code"></i>
        Have Skills in <em class="line-clamp-2">{{ job.skills }}</em>
      </p>
      <p>
        <i class="fas fa-briefcase"></i>
        &nbsp;Min: {{ job.experience }} Years Experience
      </p>
      <div class="deadline-row">
        <p class="deadline">Available until: <span>{{ job.deadline }}</span></p>
        <a href="{{ url_for('jobs.job_detail', job_id=job.id) }}" class="view-btn">View Detail</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    setTimeout(() => {
      const flashMessages = document.querySelectorAll('.flash-message');
      flashMessages.forEach(msg => {
        msg.style.transition = 'opacity 0.5s ease';
        msg.style.opacity = '0';
        setTimeout(() => {
          msg.style.display = 'none';
        }, 500);
      });
    }, 5000);
  </script>
{% endblock %}
