{% extends "base_pelamar.jinja" %}

{% block title %}Dashboard - Pelamar{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_pelamar.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <h1>Recruitment Dashboard</h1>
    <p class='welcome-text'>Welcome Back, {{ user_name }}!</p>

    <h2>Active Jobs Postings</h2>
    <div class="job-cards">
        {% for job in jobs %}
        <div class="job-card">
        <h4>{{ job.job_title }}</h4>

        <p>
            <i class="fas fa-code"></i>
            Have Skills in <em>{{ job.skills }}</em>
        </p>

        <p>
            <i class="fas fa-briefcase"></i>
            &nbsp;Min: {{ job.experience }} Years Experience
        </p>

            <div class="deadline-row">
                <p class="deadline">Available until: <span>{{ job.deadline }}</span></p>
                <a href="{{ url_for('job_detail', job_id=job.id) }}" class="view-btn">View Detail</a>
            </div>

        </div>
        {% endfor %}
    </div>

{% endblock %}