{% extends "base.jinja" %}

{% block title %}Job Description{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jobdetail.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="header-with-button">
  <h1>Job Description</h1>
  {% if user_role == "recruiter" %}
    <div class="btn-group">
        <button id="btn-delete-job" class="btn-delete" data-job-id="{{ job.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Job</button>
    </div>
  {%endif%}
</div>

<div class="job-detail-container">
    <p><strong>Job Title : </strong> {{ job.job_title }}</p>
    <p><strong>Job Experience (Year) : </strong> {{ job.experience }} 
        {%if job.experience > 1 %}
            years
        {%elif job.experience == 1 %}
            year
        {%endif%}
    </p>
    <p><strong>Education Requirement : </strong> {{ job.education }}</p>
    <div class="skill-container" >
        <strong style="white-space: nowrap; align-self:flex-start;">Skills : </strong>
        <div class="tag-container" id="skill-tag-list">
            {% for skill in job.skills %}
              <div class="tag">{{ skill }}</div>
            {% endfor %}
        </div>
    </div>
    <p><strong>Location : </strong> {{ job.location }}</p>
    <p><strong>Application Deadline : </strong> {{ job.deadline }}</p>
</div>

{% if user_role == "recruiter" %}
<h1>Candidates</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Experiences</th>
            <th>Skills</th>
            <th>Score</th>
            <th>System Recommendation</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.designation }}</td>
            <td style="white-space: nowrap;">{{ candidate.experience }}</td>
            <td>{{ candidate.skills }}</td>
            <td>{{ candidate.score }}</td>
            <td>{{ candidate.recommendation }}</td>
            <td><a href="{{ url_for('resume.view_resume')}}" class="btn-detail">View Detail</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #001f4d;">
        <h3 class="modal-title w-100 text-center m-0" id="deleteModalLabel" style="color: white;">Confirm Delete</h3>
        <button type="button" class="btn-close white-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #f0f0f0;">
        Are you sure you want to delete this job?
      </div>
      <div class="modal-footer" style="background-color: #f0f0f0;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirmDeleteBtn" type="button" class="btn btn-danger">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>
{%else%}
<div class="center-container">
    <a href="{{ url_for('resume.upload_resume', job_id=job.id) }}" class="btn btn-primary upload-btn">Upload Resume</a>
</div>
{%endif%}
{% endblock %}

{% block extra_js%}
<script>
let jobIdToDelete = null;

var deleteModal = document.getElementById('deleteModal');

deleteModal.addEventListener('show.bs.modal', function (event) {
  const button = event.relatedTarget;
  jobIdToDelete = button.getAttribute('data-job-id');
});

// On confirm delete
document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
  if (!jobIdToDelete) return;

  fetch(`/delete-job/${jobIdToDelete}`, {
    method: 'DELETE',
    credentials: 'include'
  })
  .then(response => {
    if (!response.ok) {
      if (response.status === 401) {
        alert('Unauthorized: Only Admin/HRD can delete job.');
      } else if (response.status === 404) {
        alert('Job not found.');
      } else {
        alert('Failed to delete job.');
      }
      throw new Error('Delete failed');
    }
    return response.json();
  })
  .then(data => {
    if (data.error) {
        alert('Error: ' + data.error);
    } else {
        window.location.href = "/";
    }
  })
  .catch(error => console.error(error));
});
</script>

{% endblock %}
