{% extends "base_hrd.jinja" %}

{% block title %}Job Description - HRD{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jobdetail_hrd.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="header-with-button">
  <h1>Job Description</h1>
  <div class="btn-group">
      <button id="btn-delete-job" class="btn-delete" data-job-id="{{ job.id }}">Delete Job</button>
  </div>
</div>

<div class="job-detail-container">
    <p><strong>Job Title : </strong> {{ job.job_title }}</p>
    <p><strong>Job Experience (Year) : </strong> {{ job.experience }} 
        {%if job.experience > 1 %}
            years
        {%elif job.experience == 1 %}
            year
        {%endif%}
    </p>
    <p><strong>Education Requirement : </strong> {{ job.education }}</p>
    <div class="skill-container" >
        <strong style="white-space: nowrap; align-self:flex-start; margin-top: 8px">Skills : </strong>
        <div class="tag-container" id="skill-tag-list">
            {% for skill in job.skills %}
              <div class="tag">{{ skill }}</div>
            {% endfor %}
        </div>
    </div>
    <p><strong>Location : </strong> {{ job.location }}</p>
    <p><strong>Application Deadline : </strong> {{ job.deadline }}</p>
</div>

<h1>Candidates</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Experiences</th>
            <th>Skills</th>
            <th>Score</th>
            <th>System Recommendation</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.designation }}</td>
            <td style="white-space: nowrap;">{{ candidate.experience }}</td>
            <td>{{ candidate.skills }}</td>
            <td>{{ candidate.score }}</td>
            <td>{{ candidate.recommendation }}</td>
            <td><a href="{{ url_for('resume.view_resume')}}" class="btn-detail">View Detail</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
document.getElementById('btn-delete-job').addEventListener('click', function() {
    const jobId = this.getAttribute('data-job-id');
    if (confirm('Are you sure want to delete this job?')) {
        fetch(`/delete-job/${jobId}`, {
            method: 'DELETE',
            credentials: 'include'
        })
        .then(response => {
            if (!response.ok) {
                if (response.status === 401) {
                    alert('Unauthorized: Only Admin/HRD can delete job.');
                } else if (response.status === 404) {
                    alert('Job not found.');
                } else {
                    alert('Failed to delete job.');
                }
                throw new Error('Delete failed');
            }
            return response.json();
        })
        .then(data => {
            alert(data.message);
            window.location.href = "/dashboardhrd";
        })
        .catch(error => console.error(error));
    }
});
</script>

{% endblock %}
