{% extends "base_pelamar.jinja" %}

{% block title %}Upload Resume{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='upload_resume.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<h1>Upload Your Resume</h1>

{% endblock %}