{% extends 'base_hrd.jinja' %}

{% block title %}Resume Review{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_resume.css') }}">
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="resume-layout">
        <section class="resume-section">
            <h1>Candidate’s Resume</h1>
            <div class="resume-card">
                <img src="{{ url_for('static', filename='resumes/resume_example.png') }}" alt="Resume Preview">
            </div>
        </section>

        <section class="result-section">
            <h1>Results Explanation</h1>
            <div class="result-box">
                <p><strong>Name : </strong> {{ candidate.name }} 
                    <span class="score"><strong>| Score: {{ candidate.score }}%</strong></span>
                </p>
                <p><strong>Designation : </strong> {{ candidate.designation }}</p>
                <hr>
                <p><strong>XAI Results:</strong></p>
                <ul>
                    {% for result in candidate.xai_results %}
                    <li>{{ result.desc }} (<strong>{{ result.score }}</strong>)</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="action-buttons">
                <button class="reject">Reject</button>
                <button class="accept">Accept</button>
            </div>
        </section>
    </div>
</main>
{% endblock %}
